<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Multiple Sliders with Swiper
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h5>1 View per Slide</h5>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <swiper pager="true" [initialSlide]="0" [slidesPerView]="1" [autoplay]="true" [loop]="true"
          [centeredSlides]="true" #slideWithNav (swiper)="onSwiper($event)"
          (slideChange)="onSlideChange(sliderOne, slideWithNav)">
          <ng-template swiperSlide *ngFor="let s of sliderOne.slidesItems">
            <img src="https://picsum.photos/300/200?t={{s.id}}" />
            <div class="slide_text">
              <span>Slide ID: {{s.id}}</span>
            </div>
          </ng-template>
        </swiper>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h5>2 Views per Slide</h5>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <span class="slider-nav arrow-prev" (click)="slidePrev(slideWithNav2)">
          <div class="prev-icon-custom custom-nav" [class.disabled]="sliderTwo.isBeginningSlide">
          </div>
        </span>
      </ion-col>
      <ion-col size="10">
        <swiper pager="true" [initialSlide]="0" [slidesPerView]="2" [autoplay]="true" [centeredSlides]="true"
          [spaceBetween]="20" #slideWithNav2 (swiper)="onSwiper($event)"
          (slideChange)="onSlideChange(sliderTwo, slideWithNav2)">
          <ng-template swiperSlide *ngFor="let s of sliderTwo.slidesItems">
            <img src="https://picsum.photos/300/200?t={{s.id}}" />
          </ng-template>
        </swiper>
      </ion-col>
      <ion-col size="1">
        <span class="slider-nav arrow-next" (click)="slideNext(slideWithNav2)">
          <div class="next-icon-custom custom-nav" [class.disabled]="sliderTwo.isEndSlide"></div>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h5>3 Views per Slide</h5>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <span class="slider-nav arrow-prev" (click)="slidePrev(slideWithNav3)">
          <div class="prev-icon-custom custom-nav" [class.disabled]="sliderThree.isBeginningSlide">
          </div>
        </span>
      </ion-col>
      <ion-col size="10">
        <swiper pager="true" [initialSlide]="0" [slidesPerView]="3" [centeredSlides]="true" #slideWithNav3
          (swiper)="onSwiper($event)" (slideChange)="onSlideChange(sliderThree, slideWithNav3)">
          <ng-template swiperSlide *ngFor="let s of sliderThree.slidesItems">
            <img src="https://picsum.photos/300/200?t={{s.id}}" />
          </ng-template>
        </swiper>
      </ion-col>
      <ion-col size="1">
        <span class="slider-nav arrow-next" (click)="slideNext(slideWithNav3)">
          <div class="next-icon-custom custom-nav" [class.disabled]="sliderThree.isEndSlide"></div>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>